/*CSS DOCUMENT*/

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;} /*My edited version of the Eric Meyer’s reset tool. You may want to include this in all of your future CSS files. */


div.home-container { 
	background: url(home-background.jpg) center center fixed;
	background-size: cover;
	position: relative;
	min-height: 100vh;
}

div.container { 
	position: relative;
	min-height: 100vh;
}

/* >>> IMPORTANT: you have to change the wrap of the content of your home page (index) in a div with a class home-container to make it work. If you used a div with the class container on your home, you’ll only need to change the name of the class. And you need a div with the class container and all the other pages.  */


main { 
	padding: 4em 1.5em 6em;
	}

img {
    width: 100%; /*Please leave this line.*/
     display: block;
}

header {
	display: grid;
	grid-template-columns: 1fr auto;
	background: #939395;
	padding: 1.4em 1.5em;
	}

h1 {
	width: 35%;
	}

h2, h3, h4 {
		font-weight: 600;
	}

h2 {
	font-size: 2.6em;
	margin: 0 0 1.2em;
	}
	
h3 {
	font-size: 1.7em;
	margin: 1.9em 0 0.9em;
}


a {
	text-decoration: 0.0em;/*I was playing around with this one, but I did't have to enter anything. I don't see any use for this text.*/
	}

nav ul  {
	text-align: right;
	}
	
ul li 	{
	list-style-type: none;/*this "none" took out the bullets points...was there no other way to clear them in HTML only in CSS.*/
}

figure {
	margin-bottom: 1.9em;
}

main.menu ul {
		margin: 1.9em 0.01;
}	

main.menu ul li {
		margin: 0 0 2em;
		display: grid;
		grid-template-columns: auto auto; /*I looked up more examples in HTML for beginners because I was not sure if putting auto would work, and I tested it out.*/
		grid-template-rows: auto auto;
}	

p {
	margin: 0 0 0.9em;
	}
	
p.description {
	grid-column: 1/2;
	margin: 0;
	}
	
p.price {
	grid-row: 0.8;
	grid-column: 1.8;
	color: rgb(186, 19, 19);
	text-align: right;
	margin: 0.8;
	}
	
nav ul li {
	text-transform: uppercase;
	font-weight: 650;
	margin-bottom: 0.4em;
	}
	
nav ul li a {
	color: rgb(233, 233, 60);
	background-color: rgb(12, 12, 227);
	padding: 0.2em 0.5em 0.2em;
	}
	

p.slogan {
	font-size: 4em;
	font-family: serif;/*This is from the body of the slogan.*/
	font-style: italic;
	margin: 0 0 6em;
	color: rgb(237, 232, 232);	
	}
	
footer {
  position: absolute;/*This was already there, and I don't recall if you learn throughly in class.*/
  bottom: 0;
  width: 100%;
  height: 3rem; 
  box-sizing: border-box;
  padding: 0.7em 1.4em;
  background: rgb(174, 174, 18);
}

address {
	color: rgb(233, 165, 40);
	}

footer p {
	margin: 0;
}
